<?xml version="1.0" ?>
<config>
    <modules>
        <Brave_Kirjakeskus>
            <version>1.0.0</version>
        </Brave_Kirjakeskus>
    </modules>
    <global>
        <models>
            <brave_kirjakeskus>
                <class>Brave_Kirjakeskus_Model</class>
            </brave_kirjakeskus>
        </models>
        <events>
            <!-- <sales_order_invoice_pay> -->
            <sales_order_item_cancel> <!-- jos haluaa saada xml:n ulos nelosesta ilman maksua, peruuta maksu -->
                <observers>
                    <awesome_example>
                        <class>Brave_Kirjakeskus_Model_Observer</class>
                        <method>SendRequest</method>
                    </awesome_example>
                </observers>
           <!-- </sales_order_invoice_pay> -->
            </sales_order_item_cancel>
        </events>
    </global>
</config>