<?xml version="1.0"?>
<config>
    <modules>
        <Lemonline_SVMPaymentModule>
            <version>1.5.4</version>
        </Lemonline_SVMPaymentModule>
    </modules>
    <global>
        <models>
            <svm>
                <class>Lemonline_SVMPaymentModule_Model</class>
            </svm>
        </models>
        <helpers>
            <svm>
                <class>Lemonline_SVMPaymentModule_Helper</class>
            </svm>
        </helpers>
        <resources>
            <svm_setup>
                <setup>
                    <module>Lemonline_SVMPaymentModule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </svm_setup>
            <svm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </svm_write>
            <svm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </svm_read>
        </resources>
        <blocks>
            <svm>
                <class>Lemonline_SVMPaymentModule_Block</class>
            </svm>
        </blocks>
    </global>
    <frontend>
        <images>
            <svm>
                <logo>
                    <src>images/svm/svm_logo.png</src>
                    <alt>Paytrail Logo</alt>
                </logo>
            </svm>
        </images>
        <routers>
            <svm>
                <use>standard</use>
                <args>
                    <module>Lemonline_SVMPaymentModule</module>
                    <frontName>svm</frontName>
                </args>
            </svm>
        </routers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <lemonline_svm_observer>
                        <type>singleton</type>
                        <class>svm/observer</class>
                        <method>redirectMulti</method>
                    </lemonline_svm_observer>
                </observers>
            </checkout_submit_all_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <lemonline_svm_observer>
                        <type>singleton</type>
                        <class>svm/observer</class>
                        <method>setNoEmail</method>
                    </lemonline_svm_observer>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
        <translate>
            <modules>
                <svm>
                    <files>
                        <default>Lemonline_SVMPaymentModule.csv</default>
                    </files>
                </svm>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <svm>
                    <files>
                        <default>Lemonline_SVMPaymentModule.csv</default>
                    </files>
                </svm>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <svm_cancel_pending_orders>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>svm/observer::cancelPendingOrders</model>
                </run>
            </svm_cancel_pending_orders>
        </jobs>
    </crontab>
    <default>
        <payment>
            <svm>
                <active>0</active>
                <model>svm/svmPayment</model>
                <order_status>pending</order_status>
                <use_advanced>0</use_advanced>
                <title>Verkkopankki- tai korttimaksu (Paytrail)</title>
                <lang>fi_FI</lang>
                <merchant_secure_code backend_model="adminhtml/system_config_backend_encrypted" />
                <order_email_status>1</order_email_status>
                <invoice_email_status>0</invoice_email_status>
                <show_logo>1</show_logo>
                <logo_columns>12</logo_columns>
                <logo_horizontal>1</logo_horizontal>
                <cancel_orders>0</cancel_orders>
                <cancel_orders_lifetime>14</cancel_orders_lifetime>
                <debug>0</debug>
                <minimum_sum>1</minimum_sum>
                <send_child_products>0</send_child_products>
            </svm>
        </payment>
    </default>
</config>
