<?xml version="1.0"?>
<config>
  <modules>
    <Maksukaista_Maksukaista>
      <version>3.1</version>
    </Maksukaista_Maksukaista>
  </modules>
  <global>
    <resources>
      <maksukaista_setup>
        <setup>
          <module>Maksukaista_Maksukaista</module>
           <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </maksukaista_setup>
    </resources>
    <models>
      <maksukaista>
        <class>Maksukaista_Maksukaista_Model</class>
      </maksukaista>
    </models>
    <helpers>
      <maksukaista>
        <class>Maksukaista_Maksukaista_Helper</class>
      </maksukaista>
    </helpers>
    <blocks>
      <maksukaista>
        <class>Maksukaista_Maksukaista_Block</class>
      </maksukaista>
    </blocks>
  </global>
  <adminhtml>
    <translate>
            <modules>
                <Maksukaista_Maksukaista>
                    <files>
                        <default>Maksukaista_Maksukaista.csv</default>
                    </files>
                </Maksukaista_Maksukaista>
            </modules>
        </translate>
  </adminhtml>
  <default>
    <payment>
      <maksukaista>
        <model>Maksukaista_Maksukaista_Model_Standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Maksukaista</title>
        <payment_action>authorize</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <api_key></api_key>
        <merchant_private_key></merchant_private_key>
        <orderid_prefix></orderid_prefix>
        <embedded>1</embedded>
        <bank_payments>1</bank_payments>
        <dynamic_payment_methods>1</dynamic_payment_methods>
        <creditcards_payments>1</creditcards_payments>
        <invoice_payments>1</invoice_payments>
        <laskuyritykselle>0</laskuyritykselle>
        <arvato_payments>0</arvato_payments>
        <send_items>1</send_items>
        <send_receipt>1</send_receipt>
        <min_order_total>0.01</min_order_total>
      </maksukaista>
    </payment>
  </default>
  <frontend>
    <secure_url>
        <maksukaista>/maksukaista/standard</maksukaista>
    </secure_url>
    <routers>
      <maksukaista>
        <use>standard</use>
        <args>
          <module>Maksukaista_Maksukaista</module>
          <frontName>maksukaista</frontName>
        </args>
      </maksukaista>
    </routers>
    <translate>
    <modules>
     <Maksukaista_Maksukaista>
        <files>
          <default>Maksukaista_Maksukaista.csv</default>
        </files>
      </Maksukaista_Maksukaista>
    </modules>
  </translate>
  </frontend>
</config>
